<% if @book.errors.any? %>
  <h4><%= @book.errors.count %> errors prohibited this obj from being saved:</h4>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render 'users/info', user: @user, book: @book %>

<h1>Books</h1>

<% @books.each do |book| %>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <p><%= link_to book.title, book_path(book.id) %></p>
  <p><%= book.body %></p>
<% end %>
